* {
  padding: 0px;
  margin: 0px;
}

a {
  color: #000000;
  text-decoration: none;
  outline: none;
}

a:hover, a:active {
  text-decoration: none;
  color: #f2f3f7;
  background-color: #87c1e2;
}

p {
  line-height: 28px;
}

/* container */
body {
  margin: 0;
  padding: 0;
}

.container {
  border-radius: 10px;
  max-width: 1000px;
  margin: 30px auto;
  background-color: #f2f3f7;
  box-sizing: border-box;
}

/* header */
header {
  min-height: 80px;
  padding: 10px 20px;
}

header h1 {
  padding: 5px;
  margin: 10px;
}

header ul {
  list-style: none;
  float: right;
}

header ul li {
  display: inline-block;
}

header ul li a {
  color: #3d3d3d;
  padding: 0 5px;
  margin: 0 10px;
  width: 100px;
}

header ul li a:hover {
  padding-bottom: 8px;
  border-bottom: 3px solid #4d7084;
  color: #4d7084;
}

/* main */
.main {
  height: auto;
  overflow: hidden;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
}

/* content-box */
.content-box {
  background-color: #f2f3f7;
  overflow: hidden;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  max-width: 1000px;
}

.content-box h1 {
  font-size: 25px;
  padding: 10px;
}

.content-box p {
  font-size: large;
  padding-left: 10px;
  padding-top: 10px;
}

/* footer */
footer {
  padding: 20px 10px;
  justify-content: space-between;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: flex;
  padding-left: 20px;
}

#contact_me {
  margin-bottom: 10px;
}

/* 본문 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

/* 경험 섹션 스타일 */
.experience-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f3f7;
}

.experience-section h2 {
  float: left;
}

.experience-section li {
  margin-bottom: 10px;
  list-style: none;
}

.experience-section li h3 {
  font-weight: bold;
  margin-right: 10px;
  width: 120px;
}

/* 인라인 제거 작업 추가 항목 */
footer li {
  float: left;
  margin: 20px;
}

.link {
  float: right;
}

.link ul {
  list-style: none;
}

.link ul li {
  float: left;
  margin: 20px;
}

.link ul li a img:hover {
  background-color: #87c1e2;
}

#profileImg img {
  border-radius: 50%;
  height: 250px;
  margin: 35px;
}

.experience-section h2 {
  margin-bottom: 40px;
}

/* project */
#project {
  display: flex;
  justify-content: center;
}

.position {
  display: flex;
  align-items: center;
}

.introduceBox {
  float: right;
  padding: 10px;
}

.introduceBox li {
  margin-top: 10px;
}

.introduceBox ul {
  list-style: none;
}

/* 미디어 쿼리 */
@media screen and (max-width: 650px) {
  header ul {
    float: none;
    text-align: center;
  }

  header ul li {
    display: block;
    margin: 10px;
  }

  .experience-section h2 {
    float: none;
  }

  .position {
    flex-direction: column;
    align-items: flex-start;
  }

  .imageBox {
    flex: 0 0 100%;
  }

  .introduceBox {
    flex: 0 0 100%;
    padding-left: 0;
  }
}