* {
  padding: 0px;
  margin: 0px;
}

a {
  color: #000000;
  text-decoration: none;
  outline: none;
}

a:hover, a:active {
  text-decoration: none;
  color: #f2f3f7;
  background-color: #87c1e2;
}

p {
  line-height: 28px;
}

header h1 {
  padding: 5px;
  margin: 10px;
}

body {
  margin: 0;
  padding: 0;
  /* font-size: 0.875rem;
  line-height: 1rem; */
}

.container {
  border-radius: 10px;
  max-width: 1000px;
  margin: 30px auto;
  background-color: #f2f3f7;
  box-sizing: border-box;
}

header {
  min-height: 80px;
  padding: 10px 20px;
}

header ul {
  list-style: none;
  float: right;
}

header ul li {
  display: inline-block;
}

header ul li a {
  text-decoration: none;
  color: #3d3d3d;
  padding: 0 5px;
  margin: 0 10px;
  width: 100px;
}

header ul li a:hover {
  padding-bottom: 8px;
  border-bottom: 3px solid #4d7084;
  color: #4d7084;
}

.main {
  height: auto;
  overflow: hidden;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
}

.text-box {
  position: relative;
  left: 100px;
  padding: 10px 25px;
  width: 45%;

  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.5rem;
}

.content-box {
  background-color: #f2f3f7;

  overflow: hidden;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
  max-width: 1000px;
}

.content-box h1 {
  font-size: 25px;
  padding: 10px;
}

.content-box p {
  font-size: large;
  padding-left: 10px;
  padding-top: 10px;
}

.text-center {
  text-align: center;
}

footer {
  padding: 20px 10px;
  justify-content: space-between;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: flex;
  padding-left: 20px;
}

footer ul li a {
  text-decoration: none;
  color: #3d3d3d;
}

footer ul li a:hover {
  color: #4d7084;
}

#contact_me {
  margin-bottom: 7px;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.experience-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f3f7;
}

.experience-section h2 {
  float: left;
}

.experience-section li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.experience-section li h3 {
  font-weight: bold;
  margin-right: 10px;
  width: 120px;
}


@media screen and (max-width: 600px) {
  .text-box {
    left: 0;
    width: 100%;
    padding: 10px;
  }

  header ul {
    float: none;
    text-align: center;
  }

  header ul li {
    display: block;
    margin: 10px;
  }

  .experience-section h2 {
    float: none;
  }
}