* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover, a:active {
  text-decoration: none;
  color: #f2f3f7;
  background-color: #87c1e2;
}
.container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-width: 393px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.202);
}

header {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

header ul {
  float: right;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
  text-decoration: none;
}

header nav ul li a {
  color: #3d3d3d;
  width: 100px;
}

header nav ul li a:hover {
  padding: 5px;
  border-bottom: 4px solid #4d7084;
  padding-bottom: 18px;
  color: #4d7084;
}

.content-box {
  max-width: 1000px;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-size: cover;
}

.content-box h2 {
  margin-bottom: 20px;
  font-size: 25px;
  padding: 10px;
}

.content-box p {
  font-size: large;
  padding-top: 10px;
}

#profileImg img {
  border-radius: 50%;
  height: 300px;
  margin: 40px;
}

footer {
  justify-content: space-between;
  text-align: center;
  padding: 20px 10px;
  border-radius: 10px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

footer ul li {
  display: flex;
  margin: 0 10px;
}

.experience-section {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.experience-section h2 {
  float: left;
}

.experience-section li {
  margin-bottom: 10px;
  list-style: none;
}

.experience-section li h3 {
  font-weight: bold;
  margin-right: 10px;
  width: 120px;
}

.link ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.link ul li {
  margin: 0 17px;
}

.link ul li a:hover {
  background-color: #fff;
}

.link ul li a img {
  transition: transform 0.2s;
}

.link ul li a img:hover {
  transform: scale(1.1);
  background-color: #87c1e2;
  margin: 5px;
}

.link ul li a:focus {
  outline: none;
}

#project {
  display: flex;
  justify-content: center;
}

.position {
  display: flex;
  align-items: center;
}

.introduceBox {
  float: right;
  padding: 10px;
}

.introduceBox li {
  margin-top: 10px;
}

.introduceBox ul {
  list-style: none;
}

@media (max-width: 650px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  header ul {
      float: none;
      text-align: center;
  }

  header nav ul {
      flex-direction: column;
      margin-top: 10px;
  }

  header nav ul li {
      display: block;
      margin: 10px;
  }

  .position {
      flex-direction: column;
      align-items: center;
  }

  .imageBox,
  .introduceBox {
      flex: 0 0 100%;
      padding-left: 0;
  }

  #profileImg {
      display: flex;
  }

  #profileImg img {
      border-radius: 50%;
      height: 300px;
      margin: auto;
  }
}
