a {
  text-decoration: none;
  color: #fff;
}
.menubar {
  background-color: #8879b0;
  overflow: auto;
}
.menubar i {
  padding: 9px;
}
.menubar a {
  padding: 10px;
  display: inline-block;
  font-size: 18px;
  float: left;
}
.menubar a:hover {
  background-color: #fba1a1;
}
.menubar a.active {
  background-color: #377d71;
}
